{% extends 'base.html.twig' %}
{% block header %}
{% if is_granted('ROLE_USER') == false %}
    
        <header class="navbar">
            <div class="navbar-container">
                <div class="navbar-container__header">
                <a href="{{path('app_login')}}">
                    <img class="header__logo" src="img/logo.png" alt="Logo Xilften" />
                </a>
                </div>
                <nav class="navbar-container__nav" id="navbar-nav">
                </nav>
                <div class="navbar-container__nav">
                    <ul class="">
                        <li>
                            <a href="{{path('app_login')}}" id="nav-link-acc">
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
{% else %}
    <header class="navbar">
                <div class="navbar-container">
                    <div class="navbar-container__header">
                    <a href="{{path('homepage')}}">
                        <img class="header__logo" src="{{asset('img/logo.png')}}" alt="Logo Xilften" />
                    </a>
                    </div>
                    <nav class="navbar-container__nav" id="navbar-nav">
                    <ul class="">
                        <li>
                        <a href="{{path('list-series')}}">
                            TV Series
                        </a>
                        </li>
                        <li>
                        <a href="{{path('list-movies')}}">
                            Movies
                        </a>
                        </li>
                        </li>
                    </ul>
                    </nav>
                    <div class="navbar-container__nav">
                        <ul class="navbar-container__ul">
                            <li>
                                <form class="navbar-container__form" action="/search" method="get">
                                    <input type="text" name="searchValue" style="width: 130px;">
                                    <button><i class="fas fa-search sub-nav-logo"></i></button>
                                </form>
                            </li>
                            <li>
                            <a href="#" id="nav-link-download">
                                Account
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
    </header>
{% endif %}
{% endblock %}
{% block body %}
<div class="main">
    <div class="login">
        <div class="login-form">
        {{ form_start(formUser) }}
            {{ form_widget(formUser) }}
            <input class="submit" type="submit" value="ENVIAR">
        {{ form_end(formUser) }}
        {%for message in app.flashes('error')%}
            <div class="error" role="">
                <strong>{{message}}</strong> 
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}