{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block header %}
{% if is_granted('ROLE_USER') == false %}
    
        <header class="navbar">
            <div class="navbar-container">
                <div class="navbar-container__header">
                <a href="{{path('app_login')}}">
                    <img class="header__logo" src="img/logo.png" alt="Logo Xilften" />
                </a>
                </div>
                <nav class="navbar-container__nav" id="navbar-nav">
                </nav>
                <div class="navbar-container__nav">
                    <ul class="">
                        <li>
                            <a href="{{path('app_register')}}" id="nav-link-acc">
                                Register
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
{% else %}
    <header class="navbar">
                <div class="navbar-container">
                    <div class="navbar-container__header">
                    <a href="{{path('homepage')}}">
                        <img class="header__logo" src="{{asset('img/logo.png')}}" alt="Logo Xilften" />
                    </a>
                    </div>
                    <nav class="navbar-container__nav" id="navbar-nav">
                    <ul class="">
                        <li>
                        <a href="{{path('list-series')}}">
                            TV Series
                        </a>
                        </li>
                        <li>
                        <a href="{{path('list-movies')}}">
                            Movies
                        </a>
                        </li>
                        </li>
                    </ul>
                    </nav>
                    <div class="navbar-container__nav">
                        <ul class="navbar-container__ul">
                            <li>
                                <form class="navbar-container__form" action="/search" method="get">
                                    <input type="text" name="searchValue" style="width: 130px;">
                                    <button><i class="fas fa-search sub-nav-logo"></i></button>
                                </form>
                            </li>
                            <li>
                            <a href="#" id="nav-link-download">
                                Account
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
    </header>
{% endif %}
{% endblock %}
{% block body %}
<div class="main">
    <div class="login">
        
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% else %}
        <div class="login-form">
            <form method="post">
                <h2 class="h3 mb-3 font-weight-normal">Sign in</h2>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                <input class="submit" value="Sign in" type="submit" />
            </form>
        </div>
        {% endif %}   
    <div>
</div>
{% endblock %}
