:root {
  --primary: #050505;
  --secondary: #0c0c0c;
  --light: #F3F3F3;
  --dark: 	#686868;
}

* {
    box-sizing: border-box;
    background-color:var(--primary);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    color:white;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  /* CONTAINER OF WHOLE MODULE
  -------------------------------- */
  .netflixContainer {
    background-color: var(--primary);
    padding-top: 50px;
  }
  
  /* GRID
  -------------------------------------- */
  /* Define the default grid (narrowest viewports) */
  .netflix {
    display: grid;
  }
  
  /* Place the images on the grid. All other items are auto-placed. */
  .netflix img:nth-of-type(1) {
    grid-row: 3;
  }
  
  .netflix img:nth-of-type(2) {
    grid-row: 6;
  }
  
  .netflix img:nth-of-type(3) {
    grid-row: 9;
  }
  
  /* Center these horizontally */
  .netflix a {
    justify-self: center;
  }
  
  /* Switch to three-column grid */
  @media (min-width: 56.3125rem) {
    .netflix {
      /* Define the grid */
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 37px;
    }
    /* Place items on the grid */
    .netflix a,
    .netflix h2 {
      grid-column: 1 / span 3;
    }
    .netflix img:nth-of-type(1n) {
      grid-row: 3;
    }
    .netflix h3 {
      grid-row: 4;
    }
    .netflix p {
      grid-row: 5;
    }
  }
  
  /* Adjust grid to move link (button) next to module heading */
  @media (min-width: 61.9375rem) {
    .netflix {
      grid-column-gap: 60px;
    }
    .netflix h2 {
      grid-column: 1 / span 2;
    }
    .netflix a {
      grid-column: 3;
      justify-self: end;
    }
  }
  
  /* STYLING
  -------------------------------------- */
  .netflix {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    padding-top: 50px;
    text-align: center;
    width: 80%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  
  @media (min-width: 33.8125rem) {
    .netflix {
      width: 63%;
    }
  }
  
  @media (min-width: 56.3125rem) {
    .netflix {
      padding-bottom: 73px;
      padding-top: 70px;
    }
  }
  
  .netflix h2 {
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.175;
    margin-bottom: 11px;
  }
  
  @media (min-width: 61.9375rem) {
    .netflix h2 {
      font-size: 1.1875rem;
      margin-top: 0;
      text-align: left;
      transform: translateX(-15px);
    }
  }
  
  @media (min-width: 81rem) {
    .netflix h2 {
      font-size: 1.375rem;
    }
  }
  
  @media (min-width: 93.8125rem) {
    .netflix h2 {
      font-size: 1.625rem;
    }
  }
  
  @media (min-width: 108.1875rem) {
    .netflix h2 {
      font-size: 1.875rem;
    }
  }
  
  .netflix h3 {
    font-size: 1.16979rem;
    line-height: 1.25;
  }
  
  @media (min-width: 33.8125rem) {
    .netflix h3 {
      margin-top: 1.375rem;
    }
  }
  
  .netflix a {
    background-color: #de0611;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 0.9375rem;
    letter-spacing: .125em;
    margin-bottom: 1.5rem;
    max-width: 17.1875rem;
    padding: 18px 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  @media (min-width: 33.8125rem) {
    .netflix a {
      margin-bottom: 4.125rem;
    }
  }
  
  @media (min-width: 43.8125rem) {
    .netflix a {
      font-size: 0.875rem;
    }
  }
  
  @media (min-width: 56.3125rem) {
    .netflix a {
      margin-bottom: 5.3125rem;
      max-width: 16.25rem;
    }
  }
  
  @media (min-width: 61.9375rem) {
    .netflix a {
      transform: translateX(15px);
    }
  }
  
  .netflix p {
    color: #8b8b8b;
    line-height: 1.125;
    margin-bottom: 4.6875rem;
  }
  
  .netflix p:last-of-type {
    margin-bottom: 0;
  }
  
  @media (min-width: 56.3125rem) {
    .netflix p {
      margin-bottom: 0;
      margin-top: 0.6875em;
    }
  }
  
  .netflix img {
    max-width: 100%;
  }
  
  /* For browsers that don't support grid */
  .netflix {
    max-width: 540px;
  }
  
  .netflix h3 {
    margin-bottom: .75em;
  }
  
  /* Undo what was set for browsers that don't support grid */
  @supports (display: grid) {
    .netflix {
      max-width: initial;
    }
    .netflix h3 {
      margin-bottom: 0;
    }
  }

.navbar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    align-items: center;
    box-sizing: content-box;
    background-color: var(--primary);
    margin:0 auto;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    position: fixed;
    top: 0px;
    width: 100%;
}
.navbar-container__header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: content-box;
  justify-self: flex-start;
}
.navbar-container__nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: content-box;
  justify-self: flex-start;
}

.navbar-container__nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
}
.navbar-container__nav ul li{
    width: 170px;
}
.navbar-container__nav ul li form{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
}
a{
    color: #fff;
    font-size: 0.9375rem;
    letter-spacing: .125em;
    max-width: 17.1875rem;
    padding: 18px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.header__logo{
  width: 140px;
}

/*main*/
.main{
  background-color: var(--secondary);
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px 20px;
  align-self: center;
  align-content: center;
  margin: 100px;
}
.main-article{
  display: flex;
  flex-direction: column;
  width: 320px;
  align-items: center;
  align-content: center;
  padding: 20px;
}
.main-article img{
  height: 350px;
}
.main-article a{
  padding: 0px;;
}
.main-detail{
  background-color: var(--secondary);
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  align-content: center;
  padding: 20px 20px;
  margin: 100px;
}
.main-article__detail{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 800px;
  padding: 20px;
}

.main-article-detail__poster{
  width: 350px;
}
.main-article-detail__poster img{
  width: 350px;
}
.main-article-detail__name{
  padding: 20px;
  width: 400px;
}

.login, .login-form, .login-form form, .registration_from, .form-group{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 100%;

}

.login-form input, .checkbox, .form-group{
  padding: 5px;
  margin:5px;

}
.submit{
  background-color: #de0611;
  border-radius: 2px;
  color: #fff;
  font-size: 0.9375rem;
  letter-spacing: .125em;
  max-width: 17.1875rem;
  padding: 18px 20px;
  text-transform: uppercase;
}

/*FOOTER*/
.footer{
  display: flex;
  flex-direction: column;
  justify-self: self-end;
  width: 100%;
}
.link {
  padding: 20px;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
  color: var(--dark);
  text-decoration: none;
}

.sub-links a:hover {
  color: var(--dark);
  text-decoration: underline;
}

.logos a{
  padding: 10px;
}

.logo {
  color: var(--dark);
}
footer {
  padding: 10px;
  text-align: center;
  color: var(--dark);
}