{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
<div class="main">
    <div class="login">
        <h3>Edit content:</h3>
        <div class="login-form">
        {{ form_start(formUser) }}
            {{ form_widget(formUser) }}
            <input class="submit" type="submit" value="Submit">
        {{ form_end(formUser) }}
        {%for message in app.flashes('error')%}
            <div class="error" role="">
                <strong>{{message}}</strong> 
            </div>
        {% endfor %}
        <p class="form-group"><a class="submit" href="{{path('app_logout')}}">Logout</a></p>
        
        </div>
    </div>
</div>

{% endblock %}

