<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{asset('img/icon.png')}}" />
        <title>{% block title %}XILFTEN{% endblock %}</title>
        {% block stylesheets  %}
            <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
            <link rel="stylesheet" href="{{asset('css/styles.css')}}" >
            <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header class="navbar">
                <div class="navbar-container">
                    <div class="navbar-container__header">
                    <a href="{{path('homepage')}}">
                        <img class="header__logo" src="{{asset('img/logo.png')}}" alt="Logo Xilften" />
                    </a>
                    </div>
                    <nav class="navbar-container__nav" id="navbar-nav">
                    <ul class="">
                        <li>
                        <a href="{{path('list-series')}}">
                            TV Series
                        </a>
                        </li>
                        <li>
                        <a href="{{path('list-movies')}}">
                            Movies
                        </a>
                        </li>
                        </li>
                    </ul>
                    </nav>
                    <div class="navbar-container__nav">
                        <ul class="navbar-container__ul">
                            <li>
                                <form class="navbar-container__form" action="/search" method="get">
                                    <input type="text" name="searchValue" style="width: 130px;">
                                    <button><i class="fas fa-search sub-nav-logo"></i></button>
                                </form>
                            </li>
                            <li>
                            <a href="{{path('account')}}" id="nav-link-download">
                                Account
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% block body %}
            <div class="netflixContainer">
                <section class="netflix">
                    <h2>
                    Watch TV shows and movies anytime, anywhere — personalized for you.
                    </h2>
                    <a href="{{path('app_register')}}">Watch free for 30 days</a>

                    <h3>Lorem ipsum dolor sit</h3>
                    <img src="img/netflix-ipad.png" alt="Two iPads displaying Netflix." />
                    <p>
                    Vel fugiat, magni eum quae, ipsam perspiciatis, odit quis, libero et
                    illo.
                    </p>

                    <h3>Consectetur adipisicing elit</h3>
                    <img src="img/netflix-tv.png" alt="A TV displaying Netflix." />
                    <p>Maxime doloribus, minima explicabo deleniti alias.</p>

                    <h3>Beatae distinctio alias ullam</h3>
                    <img
                    src="img/netflix-multi-devices.png"
                    alt="A phone, tablet, TV, and game devices displaying Netflix."
                    />
                    <p>Delectus nisi rerum nostrum.</p>
                </section>
            </div>
        {% endblock %}
        {% block footer %}
        <div class="footer">
            <section class="link">
            <div class="logos">
                <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
                <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
            </div>
            <div class="sub-links">
                <ul>
                <li><a href="#">Audio and Subtitles</a></li>
                <li><a href="#">Audio Description</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Gift Cards</a></li>
                <li><a href="#">Media Center</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Legal Notices</a></li>
                <li><a href="#">Corporate Information</a></li>
                <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            </section>
            <footer>
            <p>&copy 2020 Xilften, Inc.</p>
            <p>Paloma Sánchez &copy 2020</p>
            </footer>
        </div>
    {% endblock %}
    {% block javascripts %}
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    {% endblock %}
    </body>
</html>
