{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-detail">
        <div class="main-article__detail">
            <div class="main-article-detail__poster">
                <img width="250" src="{{ pelicula.poster }}">
            </div>
            <div class="main-article-detail__name">
                <h2>{{ pelicula.title }}</h2>
                <p>{{ pelicula.year|date('Y') }}</p>
                <p>{{ pelicula.plot }}</p>
                <p>Director: {{ pelicula.Director }}</p>
                <p>Writer: {{ pelicula.writer }}</p>
                <p>Actors: {{ pelicula.actors }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ pelicula.title }}
{% endblock %}

