{% extends 'base.html.twig' %}
 {% block header %}
    <header class="navbar">
        <div class="navbar-container">
            <div class="navbar-container__header">
            <a href="{{path('app_login')}}">
                <img class="header__logo" src="img/logo.png" alt="Logo Xilften" />
            </a>
            </div>
            <nav class="navbar-container__nav" id="navbar-nav">
            </nav>
            <div class="navbar-container__nav">
                <ul class="">
                    <li>
                        <a href="{{path('app_login')}}" id="nav-link-acc">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
{% endblock %}

{% block footer %}
    <div class="footer">
        <footer>
        <p>&copy 2020 Xilften, Inc.</p>
        <p>Paloma Sánchez &copy 2020</p>
        </footer>
    </div>
{% endblock %}


