{% extends 'base.html.twig' %}

{% block body %}
{%for message in app.flashes('success')%}
{% endfor %}
    <div class="main">
        {% for pelicula in peliculas %}
        <div class="main-article">
            <div class="main-article__poster">
                <a href="{{ path('app_details_pelicula',{'id': pelicula.id}) }}">
                    <img width="250" src="{{ pelicula.poster }}">
                </a>
            </div>
            <div class="main-article__name">
                <a href="{{ path('app_details_pelicula',{'id': pelicula.id}) }}">
                   {{ pelicula.title }}
                </a>
                
            </div>
        </div>
        {% endfor %}
        <div class="row">
        </div>
    </div>
{% endblock %}
